<div class="container">
    <div class="left-side">
        <img src="../../assets/Images/MealLog.png" alt="Logo">
    </div>
    <div class="right-side">
        <div class="login-form">
            <h2>Login</h2>
            <form (ngSubmit)="login()">

                <input type="text" placeholder="Username" required [(ngModel)]="credentials.email" name="username" [ngModelOptions]="{ standalone: true }">
                <input type="password" placeholder="Password" required [(ngModel)]="credentials.password" name="password" [ngModelOptions]="{ standalone: true }">


                <br>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</div>


<!-- login.component.html -->