<body>
    <app-header></app-header>

    <section>
        <div class="content">
            <h2>Terms and Conditions</h2>
            <h4>1. Acceptance of Terms</h4>
            <p>By using the Meal Booking System, you agree to be bound by these terms and conditions, our privacy policy, and any additional terms provided in relation to specific features or services.</p>

            <h4>2. Meal Booking</h4>
            <p>The Meal Booking System allows users to book meals at specified locations. Users are responsible for providing accurate information and ensuring that their bookings are made in accordance with the system's guidelines.</p>

            <h4>3. Cancellations and Refunds</h4>
            <p>Cancellations may be subject to specific terms outlined during the booking process. Refund policies, if applicable, will be communicated at the time of booking and may vary based on the circumstances of the cancellation.</p>

            <h4>4. User Responsibilities</h4>
            <p>Users are responsible for maintaining the confidentiality of their account information, including login credentials. Users agree not to share their account details and to notify the system administrator promptly of any unauthorized access
                or use of their account.</p>

            <h4>5. System Availability</h4>
            <p>We strive to ensure the availability and reliability of the Meal Booking System. However, we do not guarantee uninterrupted access, and we reserve the right to suspend, modify, or discontinue the service at any time for maintenance or other
                reasons.
            </p>

            <h4>6. Limitation of Liability</h4>
            <p>We shall not be liable for any direct, indirect, incidental, consequential, or punitive damages arising out of the use or inability to use the Meal Booking System, including but not limited to any errors, omissions, or inaccuracies in the
                content.
            </p>

            <h4>7. Data Security</h4>
            <p>We take reasonable measures to protect user data. However, users acknowledge that the security of information transmitted over the internet cannot be guaranteed, and they use the Meal Booking System at their own risk.</p>

            <h4>8. Changes to Terms</h4>
            <p>We reserve the right to update or modify these terms and conditions at any time without prior notice. Users are encouraged to review the terms regularly. Continued use of the Meal Booking System after any changes constitutes acceptance of
                the modified terms.</p>
            <br>

            <label>
        <input type="checkbox" id="agreeCheckbox">
        I have read and agree to the terms and conditions
    </label>
            <button type="submit">Submit</button>
        </div>
        <app-footer></app-footer>
    </section>

</body>