<body>
    <app-header></app-header>
    <div class="content">
        <h2>About Us</h2>
        @@ -32,10 +33,7 @@
        <h2>Our Vision</h2>
        <p>We envision a workplace where every team member looks forward to their daily meals, where dietary preferences are effortlessly accommodated, and where shared dining experiences enhance collaboration and employee satisfaction.
        </p>
        <br>
        <h2>
            What Sets Us Apart
        </h2>
        <p>
            Tailored Meal Solutions: We understand that each corporate office is unique. That's why our meal booking app offers customizable options to accommodate various dietary preferences, restrictions, and cultural tastes.
        </p>
        <p> Seamless Ordering: Say goodbye to lengthy lunch queues. Our app streamlines the meal ordering process, allowing your team to pre-select meals, choose delivery options, and even set recurring orders—all with just a few taps.</p>
        <p>Wellness Focus: We believe in the connection between nutrition and productivity. Our curated meal options prioritize freshness, nutritional value, and diverse flavors to fuel your team for success.</p>
        <p>Responsive Customer Support: Have a question or need assistance? Our dedicated customer support team is here to help. We value your experience with our app and are committed to ensuring your satisfaction.</p>

        <br>
    </div>
</body>
<app-footer></app-footer>